<footer class="footer">
    <div class="container">
        <div class="footer__grid">
            
            <div class="footer__col">
                <div class="footer__logo">
                    <img src="assets/images/logo.png" alt="" class="footer__logo-icon">
                    <strong>Арутюнян Манвел Каренович</strong>
                </div>
                <p class="footer__desc">
                    Учитель математики и информатики<br>
                    МАОУ СОШ №8 с УИМ и АЯ<br>
                    г. Боровичи
                </p>
            </div>

            <div class="footer__col">
                <h4 class="footer__title">Навигация</h4>
                <ul class="footer__nav">
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="about.html">Обо мне</a></li>
                    <li><a href="mathematics.html">Математика</a></li>
                    <li><a href="informatics.html">Информатика</a></li>
                    <li><a href="achievements.html">Достижения</a></li>
                    <li><a href="projects.html">Проекты</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
            </div>

            <div class="footer__col">
                <h4 class="footer__title">Контакты</h4>
                <ul class="footer__contacts">
                    <li>
                        <img src="assets/images/icon-location.png" alt="" class="footer__icon">
                        <span>г. Боровичи,<br>МАОУ СОШ №8 с УИМ и АЯ</span>
                    </li>
                    <li>
                        <img src="assets/images/icon-phone.png" alt="" class="footer__icon">
                        <a href="tel:+79082940940">+7 908 294-09-40</a>
                    </li>
                    <li>
                        <img src="assets/images/icon-mail.png" alt="" class="footer__icon">
                        <a href="contacts.html">Написать сообщение</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="footer__bottom">
            <p>© 2026 Арутюнян Манвел Каренович. Все права защищены.</p>
        </div>
    </div>
</footer>